rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true; // Unsafe, but sufficient for preview prototype since we don't have auth configured yet for this game
    }
  }
}
